body {
    background-color: purple;
}


.wall {
    background-color: rgb(109, 255, 47);
}

#gameboard {
    background-color: salmon;
    width: 320px;
    height: 360px;
    border: 9px solid blue;
} 

.cell {
    width: 40px;
    height: 40px;
}

.row {
    display: flex; 
    width: 320px;
    height: 40px 
}

img {
    height: 40px;
    width: 40px;
}

.player {
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    position: relative;
}

.square {
    width: 10;
    height: 10;
    border-radius: 15;
    background-color: indigo;
}